/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  box-sizing: border-box;
}

html{
  font-size: 16px; /* ! Já é o tamanho oficial, mas vamos deixar assim, ajuda a calcular o 'rem'*/
  /* ! o rem é sempre o tamanho da fonte do root element x ele / 10rem = 10 x 16 = 160*/
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
}
